.lecture-category {
  margin: 30px 0;

  display: flex;
  align-items: center;
  gap: 20px;
}

.lecture-category__category {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;

  color: var(--bg-color);

  border-radius: 14px;
  border: 2px solid #A1C0FF;

  padding: 10px 20px;

  cursor: pointer;

  transition: all .3s ease-in-out;
}
.lecture-category__category_active {
  background: #A1C0FF;
}