:root {
  --bg-color: #191919;

  --text-color-w: #F6F8FD;
  --text-color-g: #989EA8;
  --text-color-red: #E26060;
  --text-color-purple: #7A59F7;
  --text-color-purple-light: #8FB5FF;
  --text-color-blue: #A1C0FF;

  --nav-color: #989EA8;

  --msb-padding: 0;
}