.nav-block {
  display: flex;
  align-items: center;
  gap: 15px;

  .nav-block__icon {
    display: flex;
    align-items: center;

    svg {
      stroke: var(--nav-color);

      transition: all .3s ease-in-out;
    }
  }

  .nav-block__title {
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 500;

    color: var(--nav-color);

    transition: all .3s ease-in-out;
  }
}

.nav-block_current {
  .nav-block__icon {
    svg {
      stroke: var(--text-color-blue);
    }
  }


  .nav-block__title {
    color: var(--text-color-blue)
  }
}